<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>address.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d %-5p [%c] %m%n</pattern>
    </encoder>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="logfile" />
  </root>
</configuration>